.recipeListPage {
  background-color: hsl(195, 100%, 82%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(218, 100%, 35%);
}
.Header {
  color: hsl(218, 100%, 35%);
  font-weight: 10vw;
}
